/* paging */
.paging {
    position: relative;
    width: 100%;
}

.paging table td {
    cursor: pointer;
    padding: .2em .5em;
    border: 2px solid #9c9c9c;
    border-radius: 10px;
}

.btn_p {
    font-size: 14px;
    color: #8a8a8a;
}

.btn_num {
    font-size: 16px;
    color: #8a8a8a;
    text-align: center;
    cursor: pointer;
}

.paging table tr td:hover,
.btn_num.on {
    background-color: #8a8a8a;
    color: #ffffff;
}

.arrow {
    text-align: center;
    color: #8a8a8a;
    font-weight: bold;
}


